<!DOCTYPE html>
<html style="height: 100%">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/layui/css/layui.css" media="all">
    <style>
        #container{
            position:absolute;
            left:20%;
        }
        #control{
            margin-top:20px;
            width:20%;
            height:100%;
        }
    </style>
</head>
<body style="height: 100%; margin: 0">
<div id="container" style="height: 100%;width:80%"></div>
<div id="control">
    <form class="layui-form" method="post">
      <div class="layui-form-item">
        <label class="layui-form-label">输入节点</label>
        <div class="layui-input-block">
          <input type="text" name="value" placeholder="请输入节点集合" autocomplete="off" class="layui-input">
            <i class="layui-icon layui-icon-about" title="请输入0-104中的一个或多个数字"></i>
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">输入方法</label>
        <div class="layui-input-block">
          <input type="text" name="method" placeholder="请输入节点权重的设置方法" autocomplete="off" class="layui-input">
            <i class="layui-icon layui-icon-about"
               title="边权重设置方法：
1：从[0.1, 0.01, 0.001]中随机选一个；
2：固定0.1；
3：节点的入度分之一">
            </i>
        </div>
      </div>
      <div class="layui-form-item">
        <div class="layui-input-block">
          <button class="layui-btn" lay-submit lay-filter="*">提交</button>
        </div>
      </div>
    </form>
    <iframe id="iframe" name="iframe" style="display:none;"></iframe>
</div>
<script src="../static/layui/layui.js"></script>
<script type="text/javascript" src="/static/js/echarts.js"></script>
<script type="text/javascript" src="/static/js/function.js"></script>
<script src="../static/js/jquery.js"></script>
<script src="../static/js/jquery.cookie.js"></script>
<script type="text/javascript">
    (()=>{
        if($.cookie('user') == undefined)
            $(window).attr('location','/login');
    })()
    var dom = document.getElementById("container");
    var myChart = echarts.init(dom);
    var option;
    var graph = {{ graph_data | tojson }}//获取后端返回的图数据
    var egde_records={{edge_records}}
    graph = init_graph(graph);  //初始化图数据
    option = init_option(graph);//初始化属性
    myChart.setOption(option);//执行该语句就可以根据你设置的属性进行图的生成
    var err={{err|tojson}};
    if(err=="false")
    {
    var active_records = {{ active_records | tojson }};
        active_records = JSON.parse(active_records);
        //下面通过setInterval函数进行不断从激活节点的记录中读取数据然后不断显示
        var record_node_no = 0;//用来记录当前显示节点的记录的编号
        myChart.setOption({
            title: {
                text: '输入集合的激活过程',
                subtext: '输入集合的影响力是' + active_records.length,
                top: 'top',
                left: 'left'
            },
        });
        var interval_no = setInterval(function () {
            graph.nodes[active_records[record_node_no]].category = 1;
            graph.nodes[active_records[record_node_no]].symbolSize = 30;
            myChart.setOption({
                series: [{
                   data: graph.nodes,
                    links: graph.links
                  }
                ]
            })
            record_node_no+=1
            if(record_node_no>=active_records.length)//当全部节点显示完毕后跳出循环
              clearInterval(interval_no);
            else{
              if(egde_records[record_node_no]!=-1){
                graph.links[egde_records[record_node_no]].lineStyle.width=6;
                graph.links[egde_records[record_node_no]].lineStyle.color='blue';
              }
            }
        }, 1500);

    }
    else
    {
        if(err!="true")
        {
              layui.use('layer', function(){
              var layer = layui.layer;
              layer.msg(err);
            });
        }
    }
</script>
</body>
</html>