<!DOCTYPE html>
<html style="height: 100%">
<head>
    <meta charset="utf-8">
    <title>LPA算法计算过程</title>
</head>
<body style="height: 100%; margin: 0">
<div id="container" style="height: 100%"></div>
<script type="text/javascript" src="/static/js/echarts.js"></script>
<script type="text/javascript" src="/static/js/function.js"></script>
<script src="../static/js/jquery.js"></script>

{#1.编写ajax函数，return异步数据#}
{#2.setoption导入静态数据#}
{#3.setInterval实时请求#}
<script type="text/javascript">
    'use strict'
    var dom = document.getElementById("container");
    var myChart = echarts.init(dom);
    var app = {};
    var option = null;
    var graph = {{ graph_data | tojson }}//获取后端返回的图数据
    console.log(JSON.parse(graph))
    var option = init_option(graph);//初始化属性
    graph = init_graph(graph,true);  //初始化图数据

    //自定义显示option函数
    var my_option = function(graph,neighbors_and_time){
        //设置要生成的图的相关属性
        option = {
            title: {
                text: '社区划分个数' + neighbors_and_time[circle_no]['com'],
                subtext: '第' + neighbors_and_time[circle_no]['time'] + '循环,' + '当前更新的节点' + node_no,
                top: 'top',
                left: 'left'
            },
            series: [
                {
                    data: graph.nodes,
                    links: graph.links
                }
            ]
        };
    return option;
}

    //设置节点的种类以及颜色
    var categories = [];
    categories[0] = {
        name: '激活节点0',
        itemStyle: {
            color: '#2f4554'
        }
    }
    for (var i=1;i< (graph).nodes.length;i++){
        var r = Math.floor((Math.random()*255)+1)
        var g =Math.floor((Math.random()*255)+1)
        var b =Math.floor((Math.random()*255)+1)
        categories[i]={
            name:'激活节点'+i,
            itemStyle:{
                color:'rgb('+r+','+g+','+b+')'
            }
        }
    }
    //自定义颜色类别
    option['series'][0]['categories'] = categories

    //设置要生成的图的相关属性
    myChart.setOption(option);//执行该语句就可以根据你设置的属性进行图的生成
    //导入节点-标记节点转移变换字典
    var active_records = {{ active_records | tojson }};
    active_records = JSON.parse(active_records);
    //下面通过setInterval函数进行不断从激活节点的记录中读取数据然后不断显示
    var node_no = 0;//一轮的点
    var circle_no = 0;//循环的轮数
    var last_com = {{ last_com }}
    console.log(active_records);
    //导入节点-邻居-社区数-循环次数 字典值
    var neighbors_and_time = {{ neighbors_and_time | tojson }};

    console.log(neighbors_and_time)
    var flag=1 //状态标志函数
    var interval_no = setInterval(function () {
        //flag=1  放大被改节点和邻居节点
        if(flag ==1){
            //恢复节点原始大小
            if((node_no==0&&circle_no!=0)||(node_no!=0&&circle_no==0)||(node_no!=0&&circle_no!=0)){
                for (var node = 0; node < (graph.nodes).length; node++) {
                    graph.nodes[node]['symbolSize'] = 15;
                }
            }
            //节点变大。当前节点45大小，邻居节点25大小
            var neighbors = neighbors_and_time[circle_no][node_no]
            for(var i in neighbors){
                graph.nodes[neighbors[i]]['symbolSize']=25
            }
            graph.nodes[node_no]['symbolSize']=45

            myChart.setOption(my_option(graph,neighbors_and_time))

            flag=0;
        }else{
            {#alert('颜色'+node_no)#}
            //flag=0 修改需改节点标记颜色
            graph.nodes[node_no]['attributes']['modularity_class']=graph.nodes[active_records[circle_no][node_no]]['attributes']['modularity_class']
            graph.nodes[node_no]['category']=graph.nodes[active_records[circle_no][node_no]]['attributes']['modularity_class']

            myChart.setOption(my_option(graph,neighbors_and_time))

            flag =  1

        }

        //使得
        if(flag == 1){
            if(node_no==Object.keys(active_records[circle_no]).length-1){
            circle_no++;
            node_no=0
            }else{
                node_no++
            }
        }

        //结束时
        if(circle_no == Object.keys(active_records).length-1){
            for (var node = 0; node < (graph.nodes).length; node++) {
                    graph.nodes[node]['symbolSize'] = 15;
            }
            var myoption = my_option(graph,neighbors_and_time)
            myoption['title']['text']='社区划分个数'+neighbors_and_time[circle_no]['com']
            myoption['title']['subtext']='第'+neighbors_and_time[circle_no]['time']+'循环,'+'更新节点完毕'

            myChart.setOption(myoption)
            
            clearInterval(interval_no);// 清除循环
        }

    }, 1);
</script>
</body>
</html>